.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0px; /* Adjust the gap as needed */
}
.image-grid img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .image-grid {
        grid-template-columns: 1fr;
    }
}